/* CSS */
/* Desenvolvido e mantido por Lucas Zischler :) */

:root {
	--color-2: #141414;
	--color-1: #1D3648;
	--color-3: #12212B;
	
	--topbar-text-color: #FF0;
	--org-text-color: #ccc;
	--section-title-color: #46C9F1;
	--body-text-color: white;
	--shadow-text-color: white;
	--copyleft-text-color: var(--body-text-color);

	--side-margin: 2%;
	--slider-height: 700px;
	--slider-width: 1000px;

	--postpage-max-image-width: 1000px;

	--slide-shadow-color: rgba(127, 127, 0, 0.58);
	--slide-switch-on-color: #11e9ff;
	--slide-switch-off-color: #000;

	--posts-back-color: var(--color-1);
	--body-back-color: var(--color-3);
	--topbar-back-color: var(--color-2);
	--donate-back-color: var(--color-1);
	--info-back-color: var(--color-2);
	--info-border-color: var(--color-3);
	--portifolio-back-color: var(--color-1);
	--about-back-color: var(--color-1);
	--contact-back-color: var(--color-1);
	--copyleft-back-color: var(--color-2);
}

@media (prefers-color-scheme: light) {
	:root {
	}
}

body {
	font-size: 16px;
	min-width: 200px;
	background-color: var(--body-back-color);
	color: var(--body-text-color);
	padding-top: 2em;
}
a:link {
	color: var(--section-title-color);
}
a:visited {
	color: #ff9966;
}

#top_bar {
	white-space: nowrap;
	position: absolute;
	position: fixed;
	top: 0%;
	left: 0%;
	height: 2em;
	z-index: 10;
	width: 100%;
	background-color: var(--topbar-back-color);
	color: var(--topbar-text-color);
	font-family: Helvetica, monospace;
	box-shadow: 0em 0.1em 0.1em #555;
}
#navigation {
	display: grid;
	grid-template-columns: auto auto auto auto 1fr auto auto auto;
	margin: 0.5em 0 0.5em 0;
}
.nav_button {
	margin: auto;
	padding: 0 0.5em 0 0.5em;
	text-align: center;
	color: var(--topbar-text-color) !important;
	text-decoration: none;
}
.nav_button:hover {
	filter: contrast(3);
}
div.linkable::before {
	display: block;
	content: " ";
	position relative;
	margin-top: -20em;
	height: 20em;
	visibility: hidden;
}
#idiomas {
	position: relative;
	top: -0.1em;
	text-align: right;
	padding: 0;
	display: grid;
	grid-template-columns: auto auto;
}
.lang_icon {
	display: block;
	width: calc(1em/0.7);
	height: 1em;
	margin: 0 0.2em 0 0.2em;
	border-style: solid;
	border-width: 0.1em;
	border-color: #ffcc00;
	border-radius: 20%;
	background-size: cover;
}
.lang_icon:hover {
	border-color: #ffffff;
}
.pt_br_icon {
	background-image: url(images/flags/pt_br.svg);
}
.en_us_icon {
	background-image: url(images/flags/en_us.svg);
}
.section_title {
	text-align: center;
	color: var(--section-title-color);
}
#slider_container {
	width: 100%;
	height: auto;
	overflow: hidden;
}
#slider {
	margin: 0 auto 1em auto;
	box-sizing: border-box;
	min-height: 1px;
	position: relative;
	width: var(--slider-width);
	overflow: show;
}
.slider_box {
	width: 100%;
	height: var(--slider-height);
	position: relative;
}
#slider_box_text {
	width: var(--slider-width);
	z-index: 2;
	overflow:hidden;
}
#slider_box_image { 
	width: var(--slider-width);
	position: absolute;
	top: 0;
	overflow: visible; 
	z-index: 1;
}
.slides {
	width: 400%;
	height: 100%;
	position: relative;
	animation: slide 30s infinite;
}
.slider {
	width: 25%;
	height: 100%;
	float: left;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.slider_image {
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.slider .legend {
	border: 500px solid transparent;
	border-left: 800px solid var(--slide-shadow-color);
	border-bottom: 0;
	position: absolute;
	bottom: 0;
	animation: slide-fade 7.5s infinite;
}
.slider .content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}
.slider .content-txt {
	width: 400px;
	height: 150px;
	float: left;
	position: absolute;
	bottom: 70px;
	animation: content-s 7.5s infinite;
}
.slider .content-txt h1 {
	font-family: Arial;
	text-transform: uppercase;
	font-size: 24px;
	text-align: left;
	margin-left: 30px;
	padding-bottom: 10px;
}
.slider .content-txt h2 {
	font-family: arial;
	font-weight: normal;
	font-size: 1em;
	font-style: italic;
	text-align: left;
	margin-left: 30px;
}
.switch {
	width: 120px;
	height: 10px;
	position: absolute;
	bottom: 40px;
	z-index: 5;
	left: 20px;
}
.switch > ul {
	list-style: none;
}
.switch > ul > li {
	width: 10px;
	height: 10px;
	background-color: var(--slide-switch-off-color);
	float: left;
	margin-right: 10px;
	position: relative;
	top: -10px;
	transform: rotate(45deg);
}
.switch > ul .on {
	width: 10px;
	height: 10px;
	background-color: var(--slide-switch-on-color);
	position: relative;
	animation: on 30s infinite;
	transform: rotate(45deg);
	z-index: 6;
}
@keyframes slide {
	0%, 21%, 100% {margin-left: 0%;}
	25%, 46% {margin-left: -100%;}
	50%, 71% {margin-left: -200%;}
	75%, 96% {margin-left: -300%;}
}
@keyframes slide-fade {
	0%, 5%, 90%, 100% {opacity: 0;}
	10%, 80% {opacity: 1;}
}
@keyframes content-s {
	0%, 80%, 90% ,100% {margin-left: -600px;}
	10%, 30%, 40%, 50%, 60%, 70% {margin-left: 0%;}
}
@keyframes on {
	0%, 21%, 100% {margin-left: 0;}
	25%, 46% {margin-left: 20px;}
	50%, 71% {margin-left: 40px;}
	75%, 96% {margin-left: 60px;}
}
#donate {
	padding: 0.1em;
	margin: 0 var(--side-margin) 0 var(--side-margin);
	font-family: Helvetica, monospace;
	background-color: var(--donate-back-color);
	border-radius: 1em;
}

#organizations {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;
	margin: 2%;
}
.org {
	color: var(--body-text-color);
	text-align: center;
	display: grid;
	grid-gap: 1%;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
}
.org_img {
	width: 100%;
	max-width: 10em;
	border-radius: 5%;
}
.org_info {
	display: grid;
	overflow: hidden;
	grid-template-rows: 3em 80%;
	grid-gap: 0%;
}
.org_name {
	font-size: 1.5em;
}
.org_text {
	font-size: 0.9em;
	text-decoration: none;
}
/*----POSTPAGE----*/
#postpage {
	padding: 1em 1em 1em 1em;
	margin: 1em var(--side-margin) 1em var(--side-margin);
	font-family: Helvetica, monospace;
	background-color: var(--posts-back-color);
	display: grid;
}
#postpage_box {
	width: 100%;
	display: grid;
	grid-gap: 1em;
	grid-template-rows: auto;
}
#postpage_img {
	width: 100%;
	max-width: var(--postpage-max-image-width);
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 0.5em;
}
#postpage_title {
	background: linear-gradient(90deg, var(--color-3), var(--color-2));
	padding: 1em;
	border-radius: 2em;
	color: var(--section-title-color);
	text-align: center;
}
#postpage_date {
	color: var(--section-title-color);
	text-align: center;
}
#postpage_text {
	display: grid;
	overflow: hidden;
}
/*----POSTS----*/
#posts {
	border-radius: 1em;
	padding: 0 1em 0 1em;
	margin: 1em var(--side-margin) 1em var(--side-margin);
	font-family: Helvetica, monospace;
	background-color: var(--posts-back-color);
	display: grid;
}
#posts_box {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 4fr 2fr;
	grid-template-rows: auto;
}
#post_list {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 4em auto 3em;
	padding: 1em;
}
#post_table {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 25% 25% 25% 25%;
}
.post_item {
	color: var(--body-text-color);
	margin: 0.5em;
	display: grid;
	grid-gap: 0.5em;
	grid-template-columns: 20% auto;
	height: 90%;
	max-height: 20em;
	min-height: 8em;
}
.post_img {
	width: 100%;
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 0.5em;
}
.post_text {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 3em auto;
	overflow: hidden;
}
/*----SIDEBAR----*/
#sidebar_info {
	border-radius: 1em;
	margin: 1em;
	padding: 1em;
	display: grid;
	grid-template-columns: auto;
	background-color: var(--info-back-color);
}
#resumo {
	padding: 0.5em;
	text-align: center;
	border-color: var(--info-border-color);
	border-style: solid;
}
#disp_bar {
	position: relative;
	left: 10%;
	height: 1.5em;
	width: 80%;
	background-image: linear-gradient(90deg, red, red, yellow, green, green);
	border-width: 0.1em;
	border-color: #06c;
	border-style: solid;
	border-radius: 1em;
	margin-bottom: 0.5em;
}
.disp_text {
	position: relative;
	top: 20%;
	color: black;
	font-family: monospace;
	font-weight: bold;
}
.disp_full {
	float: left;
	left: 0.2em;
}
.disp_free {
	float: right;
	right: 0.2em;
}
#disp_cursor {
	width: 0;
	height: 0;
	position: absolute;
	bottom: -0.5em;
	border-left: 0.25em inset transparent;
	border-right: 0.25em inset transparent;
	border-bottom: 1.5em inset #55b;
}

/*----PORTIFOLIO----*/
#portifolio {
	border-radius: 1em;
	padding: 0 1em 1em 1em;
	margin: 1em var(--side-margin) 1em var(--side-margin);
	font-family: Helvetica, monospace;
	background-color: var(--portifolio-back-color);
	display: grid;
}
#port_box {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 10em 10em 10em 10em 10em;
}
.port_item {
	transform: scale(1);
	width: 100%;
	height: 100%;
	background: black;
	transition: 0.25s;
	transition-timing-function: ease-out;
}
.port_text_back {
	color: var(--shadow-text-color);
	transition: 1s;
	opacity: 0.2;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: var(--slide-shadow-color);
}
.port_text {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	padding: 0 3% 0 3%;
}
@media (min-width:801px) {
	h2.port_text_big {font-size: 2em;}
	h2.port_text_small {font-size: medium;}
	.port_item:hover {
		transform: scale(1.04);
		z-index:1;
	}
	.port_item:hover .port_text_back {
		opacity: 1;
	}
}

/*----ABOUT----*/
#about {
	border-radius: 1em;
	padding: 0 1em 1em 1em;
	margin: 1em var(--side-margin) 1em var(--side-margin);
	font-family: Helvetica, monospace;
	background-color: var(--about-back-color);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	clip-path: circle(100%);
}
#about_box {
	display: grid;
	grid-template-columns: 25em auto;
}
#profile_info {
	background: var(--color-2);
	margin-top: 1em;
	border-radius: 1em;
}
#pf_pic_droid_box {
	margin: auto;
	width: 15em;
	height: 15em;
	display: grid;
}
#pf_pic_box {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(100%, 1fr);
	position: relative;
	background-size: 500px;
	border-radius: 50%;
	z-index: 1;
	grid-area: 1 / 1 / 2 / 2;
}
.pf_pic {
	border-radius: 50%;
	margin: auto;
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: 1;
	position: relative;
	transition-timing-function: ease-in;
	transition: 1.5s;
	overflow: hidden;
}
#droid_shield {
	border-radius: 50%;
	width: 15em;
	height: 15em;
	background: rgba(0,0,0,0);
	display: block;
	grid-area: 1 / 1 / 2 / 2;
	z-index: 0;
	transition: 2s;
}
#pic0 {
	background: url(images/profile/pixel.png);
	background-size: 100%;
}
#pic1 {
	background: url(images/profile/p1.png);
	background-size: 100%;
}
#pic2 {
	background: url(images/profile/p2.png);
	background-size: 100%;
}
#pic3 {
	background: url(images/profile/p3.png);
	background-size: 100%;
}
#pic4 {
	background: url(images/profile/p4.png);
	background-size: 100%;
}
#pic5 {
	background: url(images/profile/p5.png);
	background-size: 100%;
}
#pic6 {
	background: url(images/profile/p6.png);
	background-size: 100%;
}
@media (hover:hover) and (pointer:fine) {
	/*#pf_pic_box:hover {cursor:help;}
	#pf_pic_box:hover > #pic3 {transform: translate(-10%, 5%);}
	#pf_pic_box:hover > #pic4 {transform: translate(-10%, 10%);}
	#pf_pic_box:hover > #pic5 {transform: translate(-10%, 5%);}*/
	#pf_pic_box:hover > #pic1 {filter: opacity(0%);}
	#pf_pic_box:hover > #pic2 {filter: opacity(0%);}
	#pf_pic_box:hover > #pic3 {filter: opacity(0%);}
	#pf_pic_box:hover > #pic4 {filter: opacity(0%);}
	#pf_pic_box:hover > #pic5 {filter: opacity(0%);}
	#pf_pic_box:hover > #pic6 {filter: opacity(0%);}
}
@media (pointer:coarse) and (any-pointer:coarse) {
	#pf_pic_box:hover {cursor:help;}
	#pf_pic_box:hover > #pic3 {transform: translate(-10%, 5%);}
	#pf_pic_box:hover > #pic4 {transform: translate(-15%, 0%);}
	#pf_pic_box:hover > #pic5 {transform: translate(-10%, 5%);}
	#pf_pic_box:hover ~ #droid_shield {z-index: 2;}
}
#prof_links {
	margin: 2em 3em 1em 3em;
	display: grid;
	grid-gap: 5%;
	grid-template-columns: 1fr 1fr 1fr;
}
#github_ref{
	background: url(images/third_party/github.svg) no-repeat;
	background-size: 4em;
}
#lattes_ref{
	background: url(images/third_party/lattes.svg) no-repeat;
	background-size: 4em;
}
#linkedin_ref{
	background: url(images/third_party/linkedin.svg);
	background-size: 4em;
}
.third_party_ref {
	margin: auto;
	width: 4em;
	height: 4em;
	background-size: cover;
	transition: 0.5s;
	filter: invert(0.6);
}
.third_party_ref:hover {
	filter: invert(1) blur(0.5px);
}
#about_text {
	margin: 0 2em 2em 2em;
	display: grid;
	grid-template-rows: auto auto 10em auto;
}
#biography {
	margin: auto 5% auto 5%;
	padding: 3em 0 3em 0;
}
#institutions {
	text-align: center;
}

/*----CONTATO----*/
#contato {
	border-radius: 1em;
	padding: 0 1em 1em 1em;
	margin: 1em var(--side-margin) 1em var(--side-margin);
	font-family: Helvetica, monospace;
	background-color: var(--contact-back-color);
	display: grid;
}
.email {
	text-align: center;
}
.number {
	text-align: center;
}

/*----COPYLEFT----*/
#copyleft {
	color: var(--copyleft-text-color);
	padding: 1em 0 1em 0;
	width: 100%;
	background-color: var(--copyleft-back-color);
	text-align: center;
}

/* Smartphones */
@media (max-width:801px){
	:root {
		--side-margin: 5%;
		--slider-height: 600px;
		--slider-width: 90%;
	}

	/*----SLIDER----*/
	#slider_box_text {width: 100%;}
	#slider_box_image {width: 100%;}
	.slider .legend {
		border: 0;
		background-color: var(--slide-shadow-color);
		height: 350px;
		width: 100%;
	}
	.slider .content-txt {
		color: var(--shadow-text-color);
		height: 240px;
		width: 90%;
	}

	/*----DONATE----*/
	.hide_if_small {display: none;}
	.org {grid-template-columns: auto;}

	/*----POSTS----*/
	#posts_box {
		grid-template-columns: 100% !important;
		grid-template-rows: auto auto auto !important;
	}	
	.post_item {
		grid-template-columns: auto;
		grid-template-rows: 10em auto;
		height: auto;
		max-height: none;
	}
	.post_text {
		display: block;
	}
  
	/*----PORTIFOLIO----*/
	#port_box {
		display: block;
	}
	.port_item {
		height: 20em;
	}
	.port_text_back{
		opacity: 1;
	}
	.port_text {
		top: 0%;
		vertical-align: middle;
	}
	/*----ABOUT----*/
	#about_box {
		display: block;
	}	
	#profile_info {
		padding: 1em 0 1em 0;
	}
}
/* Desktops */
@media (max-width:1281px){
}
